.Landing-container {
  background-color: #a07934;
  color: white;
  height: 100%;
}

.Computer-tab {
  background-color: #9b8c6b;
  height: 560px;
  width: 830px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 0;
  box-shadow: inset 0 1px 1px #aaa, 0 2px 20px rgba(0, 0, 0, 0.56);
}

.Computer-tab .mac-btns {
  width: 45px;
  height: 20px;
  margin-top: 10px;
  margin-left: 16px;
}

.mac-btns .mac-btn {
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 3px;
  margin-right: 3px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.--bgc-red {
  background-color: #d3565c;
}
.--bgc-green {
  background-color: #68b46c;
}
.--bgc-yellow {
  background-color: #e8c939;
}

.nav-btns {
  width: 250px;
  height: 40px;
  position: absolute;
  right: 0;
}

.nav-btns a {
  display: inline-block;
  height: 40px;
  width: 115px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.register-btn {
  background-color: #fedf08;
  color: #9c7a32;
}

.login-btn {
  background-color: #d79503;
  color: #e6e4be;
}

.laptop-title {
  font-size: 70px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 160px;
  color: #fedf08;
}

.laptop-subtitle {
  font-size: 30px;
  color: #e6e4be;
  margin-left: 86px;
}

.Cellphone-tab {
  position: absolute;
  background-color: #9b8c6b;
  top: 125px;
  left: 630px;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 500px;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px #aaa, 0 3px 5px 2px rgba(0, 0, 0, 0.26);
}

.cellphone-title {
  text-align: center;
  color: #e6e4be;
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
  .Cellphone-tab {
    display: none;
  }
  .Computer-tab {
    width: 590px;
  }
  .nav-btns {
    top: 120px;
    right: 167px;
  }
  .laptop-title {
    margin-bottom: 50px;
  }
  .Landing-wrapper {
    width: 590px;
  }
}

@media only screen and (max-width: 400px) {
  .Computer-tab {
    display: none;
  }
  .Cellphone-tab {
    top: 20px;
    left: 0;
  }
  .Landing-wrapper {
    width: 300px;
  }
}
